#contact {
  width: 100%;
  background: linear-gradient(0deg, aliceblue, aliceblue, white);
  background-size: 10%;
  margin-left: calc(-50vw + 50%);
  max-width: none;
}

.contact-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px;
}

.contact-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-list img {
  line-height: 3px;
}
