.style-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 64px;
}

/* 짝수 카드만 방향 반전 */
.project-card:nth-child(even) {
  flex-direction: row-reverse;
}

.project-img {
  flex: 1;
}

.project-img img {
  width: 100%;
  border-radius: 16px;
}

.project-content {
  flex: 1;
}

.project-num {
  font-size: 50px;
  color: var(--text-gray);
  margin-right: 10px;
}

.project-title {
  line-height: 1;
}

.project-content h3 {
  margin-bottom: 16px;
}

.project-content p {
  margin-bottom: 16px;
  color: #444;
}

.project-content ul {
  padding-left: 18px;
}

.project-content li {
  margin-bottom: 8px;
  color: #555;
}

.projecttag {
  padding: 6px 10px;
  background: var(--blue-light);
  border-radius: 20px;
  font-size: 10px;
  margin: 5px;
}

.projecttag-main {
  background: var(--orange);
}

.projecttag-css {
  background: var(--blue);
}

.projecttag-js {
  background: var(--yellow);
}

.projecttag-bootstrap {
  background: var(--purple);
}

.projecttag-figma {
  background: var(--green);
}

.projecttag-jquery {
  background: var(--orange);
}

.sitebtn {
  text-decoration: none;
  color: inherit;
  border: 1px solid gray;
  padding: 10px 20px;
  background: var(--gray-light);
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.sitebtn:hover {
  color: #3b6fd8;
  border: 1px solid var(--blue);
  background: var(--blue-light);
}

@media (max-width: 768px) {
  .project-card,
  .project-card:nth-child(even) {
    flex-direction: column;
  }

  .project-list {
    gap: 80px;
  }
}
